%h1 Employee Login
    
= form_with url: login_submit_path, method: :post do |f|
    = f.hidden_field :role, {value: Employee.name}
    = f.text_field :email, placeholder: 'Email'
    = f.password_field :password, placeholder: 'Password'

    = f.submit 'Login'